#divTestimonios img{
    width: 350px;
    height: 350px;
    margin-top: 20px;
    margin-left: 20px;
}
#divTestimonios p{
    width: 350px;
    height: 350px;
    margin-top: 20px;
    margin-left: 20px;
}

